In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../data/raw/World Energy Consumption.csv')
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(df.columns.tolist())

['country', 'year', 'iso_code', 'population', 'gdp', 'biofuel_cons_change_pct', 'biofuel_cons_change_twh', 'biofuel_cons_per_capita', 'biofuel_consumption', 'biofuel_elec_per_capita', 'biofuel_electricity', 'biofuel_share_elec', 'biofuel_share_energy', 'carbon_intensity_elec', 'coal_cons_change_pct', 'coal_cons_change_twh', 'coal_cons_per_capita', 'coal_consumption', 'coal_elec_per_capita', 'coal_electricity', 'coal_prod_change_pct', 'coal_prod_change_twh', 'coal_prod_per_capita', 'coal_production', 'coal_share_elec', 'coal_share_energy', 'electricity_demand', 'electricity_generation', 'electricity_share_energy', 'energy_cons_change_pct', 'energy_cons_change_twh', 'energy_per_capita', 'energy_per_gdp', 'fossil_cons_change_pct', 'fossil_cons_change_twh', 'fossil_elec_per_capita', 'fossil_electricity', 'fossil_energy_per_capita', 'fossil_fuel_consumption', 'fossil_share_elec', 'fossil_share_energy', 'gas_cons_change_pct', 'gas_cons_change_twh', 'gas_consumption', 'gas_elec_per_capita', 'gas_electricity', 'gas_energy_per_capita', 'gas_prod_change_pct', 'gas_prod_change_twh', 'gas_prod_per_capita', 'gas_production', 'gas_share_elec', 'gas_share_energy', 'greenhouse_gas_emissions', 'hydro_cons_change_pct', 'hydro_cons_change_twh', 'hydro_consumption', 'hydro_elec_per_capita', 'hydro_electricity', 'hydro_energy_per_capita', 'hydro_share_elec', 'hydro_share_energy', 'low_carbon_cons_change_pct', 'low_carbon_cons_change_twh', 'low_carbon_consumption', 'low_carbon_elec_per_capita', 'low_carbon_electricity', 'low_carbon_energy_per_capita', 'low_carbon_share_elec', 'low_carbon_share_energy', 'net_elec_imports', 'net_elec_imports_share_demand', 'nuclear_cons_change_pct', 'nuclear_cons_change_twh', 'nuclear_consumption', 'nuclear_elec_per_capita', 'nuclear_electricity', 'nuclear_energy_per_capita', 'nuclear_share_elec', 'nuclear_share_energy', 'oil_cons_change_pct', 'oil_cons_change_twh', 'oil_consumption', 'oil_elec_per_capita', 'oil_electricity', 'oil_energy_per_capita', 'oil_prod_change_pct', 'oil_prod_change_twh', 'oil_prod_per_capita', 'oil_production', 'oil_share_elec', 'oil_share_energy', 'other_renewable_consumption', 'other_renewable_electricity', 'other_renewable_exc_biofuel_electricity', 'other_renewables_cons_change_pct', 'other_renewables_cons_change_twh', 'other_renewables_elec_per_capita', 'other_renewables_elec_per_capita_exc_biofuel', 'other_renewables_energy_per_capita', 'other_renewables_share_elec', 'other_renewables_share_elec_exc_biofuel', 'other_renewables_share_energy', 'per_capita_electricity', 'primary_energy_consumption', 'renewables_cons_change_pct', 'renewables_cons_change_twh', 'renewables_consumption', 'renewables_elec_per_capita', 'renewables_electricity', 'renewables_energy_per_capita', 'renewables_share_elec', 'renewables_share_energy', 'solar_cons_change_pct', 'solar_cons_change_twh', 'solar_consumption', 'solar_elec_per_capita', 'solar_electricity', 'solar_energy_per_capita', 'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct', 'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita', 'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec', 'wind_share_energy']

In [4]:
selected_columns = [
    'country', 'year', 'population', 'gdp',
    'energy_per_capita', 'energy_per_gdp', 'primary_energy_consumption',
    'fossil_fuel_consumption', 'low_carbon_consumption', 'renewables_consumption',
    'coal_consumption', 'oil_consumption', 'gas_consumption',
    'nuclear_consumption', 'hydro_consumption', 'biofuel_consumption',
    'solar_consumption', 'wind_consumption', 'other_renewable_consumption'
]

df_energy = df[selected_columns]
df_energy

,country,year,population,gdp,energy_per_capita,energy_per_gdp,primary_energy_consumption,fossil_fuel_consumption,low_carbon_consumption,renewables_consumption,coal_consumption,oil_consumption,gas_consumption,nuclear_consumption,hydro_consumption,biofuel_consumption,solar_consumption,wind_consumption,other_renewable_consumption
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,15052191.0,2.271535e+10,3441.986,2.281,51.809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22008,Zimbabwe,2019,15354606.0,NaN,3003.655,NaN,46.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22009,Zimbabwe,2020,15669663.0,NaN,2680.132,NaN,41.997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22010,Zimbabwe,2021,15993525.0,NaN,2635.154,NaN,42.145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22011,Zimbabwe,2022,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22012 entries, 0 to 22011
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      22012 non-null  object
 1   year                         22012 non-null  int64
 2   population                   18123 non-null  float64
 3   gdp                          11113 non-null  float64
 4   energy_per_capita            10602 non-null  float64
 5   energy_per_gdp               7211 non-null   float64
 6   primary_energy_consumption   12588 non-null  float64
 7   fossil_fuel_consumption      4962 non-null   float64
 8   low_carbon_consumption       5479 non-null   float64
 9   renewables_consumption       5479 non-null   float64
 10  coal_consumption             5420 non-null   float64
 11  oil_consumption              5713 non-null   float64
 12  gas_consumption              5215 non-null   float64
 13  nuclear_consumption          4397 non-null   float64
 14  hydro_consumption            5479 non-null   float64
 15  biofuel_consumption          2767 non-null   float64
 16  solar_consumption            4683 non-null   float64
 17  wind_consumption             4744 non-null   float64
 18  other_renewable_consumption  4978 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 3.2+ MB

In [6]:
df_energy.isnull().sum()

country                            0
year                               0
population                      3889
gdp                            10899
energy_per_capita              11410
energy_per_gdp                 14801
primary_energy_consumption      9424
fossil_fuel_consumption        17050
low_carbon_consumption         16533
renewables_consumption         16533
coal_consumption               16592
oil_consumption                16299
gas_consumption                16797
nuclear_consumption            17615
hydro_consumption              16533
biofuel_consumption            19245
solar_consumption              17329
wind_consumption               17268
other_renewable_consumption    17034
dtype: int64

In [7]:
columns_to_drop = ['fossil_fuel_consumption', 'low_carbon_consumption', 'renewables_consumption', 'coal_consumption', 
                   'oil_consumption', 'gas_consumption', 'nuclear_consumption', 'hydro_consumption', 
                   'biofuel_consumption', 'solar_consumption', 'wind_consumption','other_renewable_consumption']
df_energy = df_energy.copy()
df_energy.drop(columns=columns_to_drop, inplace=True, errors='ignore')
df_energy

,country,year,population,gdp,energy_per_capita,energy_per_gdp,primary_energy_consumption
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,15052191.0,2.271535e+10,3441.986,2.281,51.809
22008,Zimbabwe,2019,15354606.0,NaN,3003.655,NaN,46.120
22009,Zimbabwe,2020,15669663.0,NaN,2680.132,NaN,41.997
22010,Zimbabwe,2021,15993525.0,NaN,2635.154,NaN,42.145
22011,Zimbabwe,2022,16320539.0,NaN,NaN,NaN,NaN

In [8]:
df_energy['country'].unique()

array(['ASEAN (Ember)', 'Afghanistan', 'Africa', 'Africa (EI)',
       'Africa (Ember)', 'Africa (Shift)', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Asia & Oceania (EIA)',
       'Asia (Ember)', 'Asia Pacific (EI)', 'Asia and Oceania (Shift)',
       'Australia', 'Australia and New Zealand (EIA)', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS (EI)', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central & South America (EIA)',
       'Central African Republic', 'Central America (EI)',
       'Central and South America (Shift)', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'EU28 (Shift)',
       'East Germany (EIA)', 'East Timor', 'Eastern Africa (EI)',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Eurasia (EIA)',
       'Eurasia (Shift)', 'Europe', 'Europe (EI)', 'Europe (Ember)',
       'Europe (Shift)', 'European Union (27)', 'European Union (EIA)',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'G20 (Ember)', 'G7 (Ember)',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Hawaiian Trade Zone (EIA)', 'High-income countries', 'Honduras',
       'Hong Kong', 'Hungary', 'IEO - Africa (EIA)',
       'IEO - Middle East (EIA)', 'IEO OECD - Europe (EIA)', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean (Ember)', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Mexico, Chile, and other OECD Americas (EIA)',
       'Micronesia (country)', 'Middle Africa (EI)', 'Middle East (EI)',
       'Middle East (EIA)', 'Middle East (Ember)', 'Middle East (Shift)',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Non-OECD (EI)', 'Non-OECD (EIA)', 'Non-OPEC (EI)',
       'Non-OPEC (EIA)', 'North America', 'North America (EI)',
       'North America (Ember)', 'North America (Shift)', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'OECD (EI)', 'OECD (EIA)', 'OECD (Ember)', 'OECD (Shift)',
       'OECD - Asia And Oceania (EIA)', 'OECD - Europe (EIA)',
       'OECD - North America (EIA)', 'OPEC (EI)', 'OPEC (EIA)',
       'OPEC (Shift)', 'OPEC - Africa (EIA)',
       'OPEC - South America (EIA)', 'Oceania', 'Oceania (Ember)', 'Oman',
       'Other Non-OECD - America (EIA)', 'Other Non-OECD - Asia (EIA)',
       'Other Non-OECD - Europe and Eurasia (EIA)', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Korea',
       'South Korea and other OECD Asia (EIA)', 'South Sudan',
       'South and Central America (EI)', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands (EIA)',
       'U.S. Territories (EIA)', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Pacific Islands (Shift)',
       'United States Territories (Shift)',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island (EIA)', 'Wake Island (Shift)', 'West Germany (EIA)',
       'Western Africa (EI)', 'Western Sahara', 'World', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
countries_to_keep = ['Brazil', 'Canada', 'China', 'Hong Kong', 'India', 'Italy', 'South Korea', 'México', 'Turkey', 'United States']  
df_energy = df_energy[df_energy['country'].isin(countries_to_keep)].copy()
df_energy

,country,year,population,gdp,energy_per_capita,energy_per_gdp,primary_energy_consumption
2853,Brazil,1900,18058538.0,1.571802e+10,NaN,NaN,NaN
2854,Brazil,1901,18463951.0,1.728848e+10,NaN,NaN,NaN
2855,Brazil,1902,18869255.0,1.729822e+10,NaN,NaN,NaN
2856,Brazil,1903,19274237.0,1.764560e+10,NaN,NaN,NaN
2857,Brazil,1904,19687910.0,1.798087e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...
20706,United States,2018,332140032.0,1.814065e+13,80583.344,1.475,26764.953
20707,United States,2019,334319680.0,NaN,79489.016,NaN,26574.742
20708,United States,2020,335942016.0,NaN,73236.141,NaN,24603.098
20709,United States,2021,336997632.0,NaN,76988.750,NaN,25945.025
20710,United States,2022,338289856.0,NaN,78754.273,NaN,26641.771

In [10]:
country_abbrev = {
    'Brazil': 'BR',
    'Canada': 'CA',
    'China': 'CN',
    'Hong Kong': 'HK',
    'India': 'IN',
    'Italy': 'IT',
    'South Korea': 'KR',
    'México': 'MX',
    'Turkey': 'TR',
    'United States': 'US'}
df_energy['country'] = df_energy['country'].map(country_abbrev)
df_energy

,country,year,population,gdp,energy_per_capita,energy_per_gdp,primary_energy_consumption
2853,BR,1900,18058538.0,1.571802e+10,NaN,NaN,NaN
2854,BR,1901,18463951.0,1.728848e+10,NaN,NaN,NaN
2855,BR,1902,18869255.0,1.729822e+10,NaN,NaN,NaN
2856,BR,1903,19274237.0,1.764560e+10,NaN,NaN,NaN
2857,BR,1904,19687910.0,1.798087e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...
20706,US,2018,332140032.0,1.814065e+13,80583.344,1.475,26764.953
20707,US,2019,334319680.0,NaN,79489.016,NaN,26574.742
20708,US,2020,335942016.0,NaN,73236.141,NaN,24603.098
20709,US,2021,336997632.0,NaN,76988.750,NaN,25945.025
20710,US,2022,338289856.0,NaN,78754.273,NaN,26641.771

In [11]:
df_energy['gdp'] = df_energy.groupby('country')['gdp'].transform(lambda x: x.fillna(x.median()))
df_energy

,country,year,population,gdp,energy_per_capita,energy_per_gdp,primary_energy_consumption
2853,BR,1900,18058538.0,1.571802e+10,NaN,NaN,NaN
2854,BR,1901,18463951.0,1.728848e+10,NaN,NaN,NaN
2855,BR,1902,18869255.0,1.729822e+10,NaN,NaN,NaN
2856,BR,1903,19274237.0,1.764560e+10,NaN,NaN,NaN
2857,BR,1904,19687910.0,1.798087e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...
20706,US,2018,332140032.0,1.814065e+13,80583.344,1.475,26764.953
20707,US,2019,334319680.0,3.183157e+12,79489.016,NaN,26574.742
20708,US,2020,335942016.0,3.183157e+12,73236.141,NaN,24603.098
20709,US,2021,336997632.0,3.183157e+12,76988.750,NaN,25945.025
20710,US,2022,338289856.0,3.183157e+12,78754.273,NaN,26641.771

In [12]:
emission_consumption_df  = {
    'country': ['AE', 'BR', 'CA', 'CN', 'HK', 'IN', 'IT', 'KR', 'MX', 'TR', 'US', 'ES'],
    'emission_factor': [118.4, 37.9, 90.2, 163.2, 169.2, 208.9, 72.3, 120.5, 87.9, 124.8, 127.6, 68.0]}

emission_consumption_df  = pd.DataFrame(emission_consumption_df )
emission_consumption_df

   country  emission_factor
0       AE            118.4
1       BR             37.9
2       CA             90.2
3       CN            163.2
4       HK            169.2
5       IN            208.9
6       IT             72.3
7       KR            120.5
8       MX             87.9
9       TR            124.8
10      US            127.6
11      ES             68.0

In [13]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1042 entries, 2853 to 20710
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     1042 non-null   object
 1   year                        1042 non-null   int64
 2   population                  1042 non-null   float64
 3   gdp                         1042 non-null   float64
 4   energy_per_capita           522 non-null    float64
 5   energy_per_gdp              486 non-null    float64
 6   primary_energy_consumption  522 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 65.1+ KB

Create a DataFrame for Emission Factors by Country

In [14]:
emission_factors_df  = {
    'country': ['AE', 'BR', 'CA', 'CN', 'HK', 'IN', 'IT', 'KR', 'MX', 'TR', 'US', 'ES'],
    'emission_factor_per_country': [118.4, 37.9, 90.2, 163.2, 169.2, 208.9, 72.3, 120.5, 87.9, 124.8, 127.6, 68.0]}

emission_factors_df = pd.DataFrame(emission_factors_df)
emission_factors_df

   country  emission_factor_per_country
0       AE                        118.4
1       BR                         37.9
2       CA                         90.2
3       CN                        163.2
4       HK                        169.2
5       IN                        208.9
6       IT                         72.3
7       KR                        120.5
8       MX                         87.9
9       TR                        124.8
10      US                        127.6
11      ES                         68.0