In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('../data/raw/World Energy Consumption.csv')
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_energy = df[df['year'] == 2022]
df_energy

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
22,ASEAN (Ember),2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.047,NaN,NaN,NaN,NaN,NaN,12.960,NaN,1.058,NaN
267,Africa,2022,NaN,1.426737e+09,NaN,1.068,0.012,0.786,1.122,NaN,...,2.037,0.842,4.888,2.686,62.294,16.747,23.894,43.662,2.676,1.107
325,Africa (EI),2022,NaN,NaN,NaN,1.068,0.012,NaN,1.122,NaN,...,2.037,0.842,4.888,2.686,62.294,NaN,23.894,NaN,2.676,1.107
348,Africa (Ember),2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.933,NaN,NaN,NaN,NaN,NaN,23.640,NaN,2.640,NaN
710,Algeria,2022,DZA,4.490323e+07,NaN,NaN,NaN,NaN,NaN,NaN,...,0.744,0.260,0.000,-0.000,0.027,0.234,0.010,0.610,0.011,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21318,Vietnam,2022,VNM,9.818686e+07,NaN,NaN,NaN,NaN,NaN,1.630,...,9.984,5.393,236.260,14.714,20.974,88.097,8.650,213.615,3.285,1.645
21466,Western Africa (EI),2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372,0.387,-0.249,-0.010,1.576,NaN,0.604,NaN,0.659,0.186
21631,World,2022,NaN,7.975105e+09,NaN,4.929,56.335,150.369,1199.207,84.961,...,4.519,2.055,13.523,636.006,5487.600,268.238,2139.230,688.091,7.499,3.271
21674,Yemen,2022,YEM,3.369661e+07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22011,Zimbabwe,2022,ZWE,1.632054e+07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
print(df_energy.columns.tolist())

['country', 'year', 'iso_code', 'population', 'gdp', 'biofuel_cons_change_pct', 'biofuel_cons_change_twh', 'biofuel_cons_per_capita', 'biofuel_consumption', 'biofuel_elec_per_capita', 'biofuel_electricity', 'biofuel_share_elec', 'biofuel_share_energy', 'carbon_intensity_elec', 'coal_cons_change_pct', 'coal_cons_change_twh', 'coal_cons_per_capita', 'coal_consumption', 'coal_elec_per_capita', 'coal_electricity', 'coal_prod_change_pct', 'coal_prod_change_twh', 'coal_prod_per_capita', 'coal_production', 'coal_share_elec', 'coal_share_energy', 'electricity_demand', 'electricity_generation', 'electricity_share_energy', 'energy_cons_change_pct', 'energy_cons_change_twh', 'energy_per_capita', 'energy_per_gdp', 'fossil_cons_change_pct', 'fossil_cons_change_twh', 'fossil_elec_per_capita', 'fossil_electricity', 'fossil_energy_per_capita', 'fossil_fuel_consumption', 'fossil_share_elec', 'fossil_share_energy', 'gas_cons_change_pct', 'gas_cons_change_twh', 'gas_consumption', 'gas_elec_per_capita', 'gas_electricity', 'gas_energy_per_capita', 'gas_prod_change_pct', 'gas_prod_change_twh', 'gas_prod_per_capita', 'gas_production', 'gas_share_elec', 'gas_share_energy', 'greenhouse_gas_emissions', 'hydro_cons_change_pct', 'hydro_cons_change_twh', 'hydro_consumption', 'hydro_elec_per_capita', 'hydro_electricity', 'hydro_energy_per_capita', 'hydro_share_elec', 'hydro_share_energy', 'low_carbon_cons_change_pct', 'low_carbon_cons_change_twh', 'low_carbon_consumption', 'low_carbon_elec_per_capita', 'low_carbon_electricity', 'low_carbon_energy_per_capita', 'low_carbon_share_elec', 'low_carbon_share_energy', 'net_elec_imports', 'net_elec_imports_share_demand', 'nuclear_cons_change_pct', 'nuclear_cons_change_twh', 'nuclear_consumption', 'nuclear_elec_per_capita', 'nuclear_electricity', 'nuclear_energy_per_capita', 'nuclear_share_elec', 'nuclear_share_energy', 'oil_cons_change_pct', 'oil_cons_change_twh', 'oil_consumption', 'oil_elec_per_capita', 'oil_electricity', 'oil_energy_per_capita', 'oil_prod_change_pct', 'oil_prod_change_twh', 'oil_prod_per_capita', 'oil_production', 'oil_share_elec', 'oil_share_energy', 'other_renewable_consumption', 'other_renewable_electricity', 'other_renewable_exc_biofuel_electricity', 'other_renewables_cons_change_pct', 'other_renewables_cons_change_twh', 'other_renewables_elec_per_capita', 'other_renewables_elec_per_capita_exc_biofuel', 'other_renewables_energy_per_capita', 'other_renewables_share_elec', 'other_renewables_share_elec_exc_biofuel', 'other_renewables_share_energy', 'per_capita_electricity', 'primary_energy_consumption', 'renewables_cons_change_pct', 'renewables_cons_change_twh', 'renewables_consumption', 'renewables_elec_per_capita', 'renewables_electricity', 'renewables_energy_per_capita', 'renewables_share_elec', 'renewables_share_energy', 'solar_cons_change_pct', 'solar_cons_change_twh', 'solar_consumption', 'solar_elec_per_capita', 'solar_electricity', 'solar_energy_per_capita', 'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct', 'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita', 'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec', 'wind_share_energy']

In [27]:
columns_to_drop = ['energy_per_gdp','renewables_consumption', 'solar_consumption', 'wind_consumption', 'fossil_fuel_consumption', 'gas_consumption',	'hydro_consumption', 'low_carbon_consumption', 'nuclear_consumption', 'oil_consumption', 'other_renewable_consumption', 'iso_code','gdp', 'coal_consumption', 'biofuel_cons_change_pct', 'biofuel_consumption', 'biofuel_cons_change_twh', 'biofuel_cons_per_capita', 'biofuel_elec_per_capita', 'biofuel_electricity', 'biofuel_share_elec', 'biofuel_share_energy', 'carbon_intensity_elec', 'coal_cons_change_pct', 'coal_cons_change_twh', 'coal_cons_per_capita', 'coal_elec_per_capita', 'coal_electricity', 'coal_prod_change_pct', 'coal_prod_change_twh', 'coal_prod_per_capita', 'coal_production', 'coal_share_elec', 'coal_share_energy', 'electricity_demand', 'electricity_generation', 'electricity_share_energy', 'energy_cons_change_pct', 'energy_cons_change_twh', 'fossil_cons_change_pct', 'fossil_cons_change_twh', 'fossil_elec_per_capita', 'fossil_electricity', 'fossil_energy_per_capita', 'fossil_share_elec', 'fossil_share_energy', 'gas_cons_change_pct', 'gas_cons_change_twh', 'gas_elec_per_capita', 'gas_electricity', 'gas_energy_per_capita', 'gas_prod_change_pct', 'gas_prod_change_twh', 'gas_prod_per_capita', 'gas_production', 'gas_share_elec', 'gas_share_energy', 'greenhouse_gas_emissions', 'hydro_cons_change_pct', 'hydro_cons_change_twh', 'hydro_elec_per_capita', 'hydro_electricity', 'hydro_energy_per_capita', 'hydro_share_elec', 'hydro_share_energy', 'low_carbon_cons_change_pct', 'low_carbon_cons_change_twh', 'low_carbon_elec_per_capita', 'low_carbon_electricity', 'low_carbon_energy_per_capita', 'low_carbon_share_elec', 'low_carbon_share_energy', 'net_elec_imports', 'net_elec_imports_share_demand', 'nuclear_cons_change_pct', 'nuclear_cons_change_twh', 'nuclear_elec_per_capita', 'nuclear_electricity', 'nuclear_energy_per_capita', 'nuclear_share_elec', 'nuclear_share_energy', 'oil_cons_change_pct', 'oil_cons_change_twh', 'oil_elec_per_capita', 'oil_electricity', 'oil_energy_per_capita', 'oil_prod_change_pct', 'oil_prod_change_twh', 'oil_prod_per_capita', 'oil_production', 'oil_share_elec', 'oil_share_energy', 'other_renewable_electricity', 'other_renewable_exc_biofuel_electricity', 'other_renewables_cons_change_pct', 'other_renewables_cons_change_twh', 'other_renewables_elec_per_capita', 'other_renewables_elec_per_capita_exc_biofuel', 'other_renewables_energy_per_capita', 'other_renewables_share_elec', 'other_renewables_share_elec_exc_biofuel', 'other_renewables_share_energy', 'per_capita_electricity', 'renewables_cons_change_pct', 'renewables_cons_change_twh', 'renewables_elec_per_capita', 'renewables_electricity', 'renewables_energy_per_capita', 'renewables_share_elec', 'renewables_share_energy', 'solar_cons_change_pct', 'solar_cons_change_twh', 'solar_elec_per_capita', 'solar_electricity', 'solar_energy_per_capita', 'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct', 'wind_cons_change_twh', 'wind_elec_per_capita', 'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec', 'wind_share_energy']
df_energy = df_energy.copy()
df_energy.drop(columns=columns_to_drop, inplace=True, errors='ignore')
df_energy

,country,year,population,energy_per_capita,primary_energy_consumption
22,ASEAN (Ember),2022,NaN,NaN,NaN
267,Africa,2022,1.426737e+09,3943.844,5626.826
325,Africa (EI),2022,NaN,NaN,5626.826
348,Africa (Ember),2022,NaN,NaN,NaN
710,Algeria,2022,4.490323e+07,15252.127,684.870
...,...,...,...,...,...
21318,Vietnam,2022,9.818686e+07,12983.017,1274.762
21466,Western Africa (EI),2022,NaN,NaN,846.876
21631,World,2022,7.975105e+09,21038.930,167787.672
21674,Yemen,2022,3.369661e+07,NaN,NaN
22011,Zimbabwe,2022,1.632054e+07,NaN,NaN

In [28]:
countries_to_keep = ['Brazil', 'Canada', 'China', 'Hong Kong', 'India', 'Italy', 'South Korea', 'Mexico', 'Spain', 'Turkey', 'United Arab Emirates', 'United States']  
df_energy = df_energy[df_energy['country'].isin(countries_to_keep)].copy()
df_energy

,country,year,population,energy_per_capita,primary_energy_consumption
2975,Brazil,2022,2.153135e+08,17299.750,3724.870
3773,Canada,2022,3.845433e+07,102160.289,3928.505
4405,China,2022,1.425887e+09,31051.480,44275.914
8858,Hong Kong,2022,7.488863e+06,29152.305,218.318
9288,India,2022,1.417173e+09,7143.406,10123.443
10026,Italy,2022,5.903747e+07,28910.201,1706.785
11931,Mexico,2022,1.275041e+08,19009.186,2423.750
18179,South Korea,2022,5.181581e+07,68126.188,3530.013
18413,Spain,2022,4.755863e+07,33615.332,1598.699
19856,Turkey,2022,8.534125e+07,22824.150,1947.841
20464,United Arab Emirates,2022,9.441138e+06,148576.547,1402.732
20710,United States,2022,3.382899e+08,78754.273,26641.771

In [29]:
country_abbrev = {
    'Brazil': 'BR',
    'Canada': 'CA',
    'China': 'CN',
    'Hong Kong': 'HK',
    'India': 'IN',
    'Italy': 'IT',
    'South Korea': 'KR',
    'Mexico': 'MX',
    'Spain': 'ES',
    'Turkey': 'TR',
    'United Arab Emirates': 'AE',
    'United States': 'US'}
df_energy['country'] = df_energy['country'].map(country_abbrev)
df_energy

,country,year,population,energy_per_capita,primary_energy_consumption
2975,BR,2022,2.153135e+08,17299.750,3724.870
3773,CA,2022,3.845433e+07,102160.289,3928.505
4405,CN,2022,1.425887e+09,31051.480,44275.914
8858,HK,2022,7.488863e+06,29152.305,218.318
9288,IN,2022,1.417173e+09,7143.406,10123.443
10026,IT,2022,5.903747e+07,28910.201,1706.785
11931,MX,2022,1.275041e+08,19009.186,2423.750
18179,KR,2022,5.181581e+07,68126.188,3530.013
18413,ES,2022,4.755863e+07,33615.332,1598.699
19856,TR,2022,8.534125e+07,22824.150,1947.841
20464,AE,2022,9.441138e+06,148576.547,1402.732
20710,US,2022,3.382899e+08,78754.273,26641.771

Create a DataFrame for Emission Factors by Country

In [30]:
emission_factors_df  = {
    'country': ['AE', 'BR', 'CA', 'CN', 'HK', 'IN', 'IT', 'KR', 'MX', 'TR', 'US', 'ES'],
    'emission_factor_per_country': [118.4, 37.9, 90.2, 163.2, 169.2, 208.9, 72.3, 120.5, 87.9, 124.8, 127.6, 68.0]}

emission_factors_df = pd.DataFrame(emission_factors_df)
emission_factors_df

   country  emission_factor_per_country
0       AE                        118.4
1       BR                         37.9
2       CA                         90.2
3       CN                        163.2
4       HK                        169.2
5       IN                        208.9
6       IT                         72.3
7       KR                        120.5
8       MX                         87.9
9       TR                        124.8
10      US                        127.6
11      ES                         68.0

In [31]:
merged_df = pd.merge(emission_factors_df, df_energy, on='country', how='left')
merged_df

,country,emission_factor_per_country,year,population,energy_per_capita,primary_energy_consumption
0,AE,118.4,2022,9.441138e+06,148576.547,1402.732
1,BR,37.9,2022,2.153135e+08,17299.750,3724.870
2,CA,90.2,2022,3.845433e+07,102160.289,3928.505
3,CN,163.2,2022,1.425887e+09,31051.480,44275.914
4,HK,169.2,2022,7.488863e+06,29152.305,218.318
5,IN,208.9,2022,1.417173e+09,7143.406,10123.443
6,IT,72.3,2022,5.903747e+07,28910.201,1706.785
7,KR,120.5,2022,5.181581e+07,68126.188,3530.013
8,MX,87.9,2022,1.275041e+08,19009.186,2423.750
9,TR,124.8,2022,8.534125e+07,22824.150,1947.841
10,US,127.6,2022,3.382899e+08,78754.273,26641.771
11,ES,68.0,2022,4.755863e+07,33615.332,1598.699

In [32]:
merged_df = merged_df[['country', 'year', 'population', 'energy_per_capita', 'emission_factor_per_country', 'primary_energy_consumption']]
merged_df

,country,year,population,energy_per_capita,emission_factor_per_country,primary_energy_consumption
0,AE,2022,9.441138e+06,148576.547,118.4,1402.732
1,BR,2022,2.153135e+08,17299.750,37.9,3724.870
2,CA,2022,3.845433e+07,102160.289,90.2,3928.505
3,CN,2022,1.425887e+09,31051.480,163.2,44275.914
4,HK,2022,7.488863e+06,29152.305,169.2,218.318
5,IN,2022,1.417173e+09,7143.406,208.9,10123.443
6,IT,2022,5.903747e+07,28910.201,72.3,1706.785
7,KR,2022,5.181581e+07,68126.188,120.5,3530.013
8,MX,2022,1.275041e+08,19009.186,87.9,2423.750
9,TR,2022,8.534125e+07,22824.150,124.8,1947.841
10,US,2022,3.382899e+08,78754.273,127.6,26641.771
11,ES,2022,4.755863e+07,33615.332,68.0,1598.699

In [33]:
merged_df.columns = merged_df.columns.str.capitalize()
merged_df

,Country,Year,Population,Energy_per_capita,Emission_factor_per_country,Primary_energy_consumption
0,AE,2022,9.441138e+06,148576.547,118.4,1402.732
1,BR,2022,2.153135e+08,17299.750,37.9,3724.870
2,CA,2022,3.845433e+07,102160.289,90.2,3928.505
3,CN,2022,1.425887e+09,31051.480,163.2,44275.914
4,HK,2022,7.488863e+06,29152.305,169.2,218.318
5,IN,2022,1.417173e+09,7143.406,208.9,10123.443
6,IT,2022,5.903747e+07,28910.201,72.3,1706.785
7,KR,2022,5.181581e+07,68126.188,120.5,3530.013
8,MX,2022,1.275041e+08,19009.186,87.9,2423.750
9,TR,2022,8.534125e+07,22824.150,124.8,1947.841
10,US,2022,3.382899e+08,78754.273,127.6,26641.771
11,ES,2022,4.755863e+07,33615.332,68.0,1598.699

In [34]:
merged_df.to_csv('energy_consumption.csv', index=False)